<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Krótka Piłka</title>
    <style th:include="layout :: podstawy"></style>
    <style th:include="layout :: formularz"></style>
</head>
<link href='http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<body>
<div th:include="layout :: logo"></div>
<div th:include="layout :: logowanie"></div>
<div th:include="layout :: footer"></div>
</body>
</html>